/* Settings for the panel - i.e. the div holding the editing buttons */
.wfsediting-panel {
	position: absolute;
	left: 20px;
	top: 85px;
	z-index: 2000;
	width: 25px;
	height: 48px;
	border: none;
	float: left;
}
.crawls-panel {
	position: absolute;
	left: 20px;
	top: 85px;
	z-index: 2000;
	width: 25px;
	height: 48px;
	border: none;
	float: left;
}
/* CSS for the buttons inside the panel */
.crawls-panel div {
	position: relative;
	float: left;
	cursor: pointer;
	background-image: url("img/editTools/point_off.png");
	/*background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");*/
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 5px 5px 0;
}

.poi-lbl-draw {
	position: absolute;
	left: 55px;
	top: 70px;
	font-size: 0.9em;
}

.poi-lbl-draw label {
	position: relative;
	top: 20px;
	margin-bottom: 14px;
}

.poi-lbl-draw button {
	position: absolute;
	left: 135px;
	top: 85px;
	font-size: 0.9em;
	
}

.epoi-lbl-draw {
	position: absolute;
	left: 255px;
	top: 14px;
	font-size: 0.9em;
}
.epoi-lbl-draw label {
	display: block;
	margin-bottom: 14px;
}

.poi-edit-btnpanel {
	position: absolute;
	top: 90px;
	bottom: 0px;
	left: 17px;
	padding: 0;
    margin: 0;
    width: 170px;
    height: 100px;
    background: none;
    border: none;
 
}
.poi-edit-btnpanel span {
	width: 150px;
 	left: 0px;
}

#poi-form{
	width: 270px;
}

#poi-edit-btnpanel input {
    float: right;
    margin: 2px 5px 2px 5px;
}

.poi-edit-btnpanel label {
    float: left;
    margin: 4px 0px 4px 5px;
}
#poi-iconeraser {
    position: absolute;
    z-index: 1000;	
}


.poiedit-btnedit {
	background-image: url("img/icon_lank.png");
}

.editpoi-dialogDiv {
	position: absolute;
		
}

.editpoi-dialogDiv select#poi-category {
	width:220px;
}

.poi-dialogDiv select#poi-quantity {
	width:90px;
}

.poi-dialogDiv select#poi-unity {
	width:90px;
}

/* Settings for the panel - i.e. the div holding the editing buttons */
.poi-panel {
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 2000;
	width: 25px;
	height: 48px;
	border: none;
	float: left;
}
/* CSS for the buttons inside the panel */
.poi-panel div {
	position: relative;
	float: left;
	cursor: pointer;
	background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 5px 5px 0;
}

.poi-datecalendar {
	position: absolute;
	left: 70px;
}

.poi-datecalendar label {
	display: block;
	left: 15px;
}

.poi-dialogDiv form {
	border: 2px solid red;
	/*background-image:url('img/bgsmap.png'); background: #FFE4E1;*/
	
}

#poiDialog-form{
	width:460px;
}


.poi-dialogDiv select{
	width: 150px;
}

.poi-dialogDiv input#input-title { 
	color: #000000; 
	font-family: Verdana; 
	font-weight: bold; 
	font-size: 12px; 
	background: #FFE4E1;
}

.poi-dialogDiv div { 
	color: #000000; 
	font-family: Verdana; 
	font-weight: bold; 
	font-size: 12px; 
	
}


.editpoi-btntypeDiv img#btnpt{
	position: absolute;
	top: 85px;
	width: 24px;
	height: 22px;
	background-repeat: no-repeat !important;
	
}

.editpoi-btntypeDiv label{
	position: relative;
	top: 10px;
	left: 5px;
	width:29px;
	height:27px;	
	background-repeat: no-repeat;
}
