body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Trebuchet MS','DejaVu Sans','Bitstream Vera Sans',sans-serif;
	background: #fff;
	overflow: hidden;
}

div, span, p, button, label {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#canvasLoader {
	position: absolute;
	display: block;
	top: 40%;
	left: 48%;
	z-index: 2000;
	filter : alpha(opacity=50);
	opacity: .5;
}

/* For the loader shown during initialization of the app */
.smap-init-loading {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter : alpha(opacity=80);
    opacity: 0.8;
    background: #333;
    z-index: 3000;
}
.invisible {
    opacity: 0 !important;
	filter : alpha(opacity=0) !important;
	transition: opacity 1000ms, filter 1000ms;
	-webkit-transition: opacity 1000ms, filter 1000ms;
}

.smap-init-loading img {
	position: absolute;
	left: 470px;
	top: 40%;
	z-index: 1;
	display: block;
}
.smap-init-loading label {
	position: absolute;
	display: block;
	left: 550px;
	top: 42%;
	z-index: 2;
	color: #fff;
	font-size: 2em;
	
}

/* All tags with this class will be unselectable */
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#smapDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#mapDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#sideDivLeft {
	position: absolute;
}
#sideDivRight {
	position: absolute;
	background-color: #fff;
	border-left: 1px solid #aaa;
	z-index: 0;
}

#toolbarDiv {
	width: 100%;
	background-color: #ccc;
	border: none;
}
/* The loader icon showing when something is loading. */

#smap-loader-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background-color: rgba(30,30,30,0);
    z-index: 1999;
    transition: background-color .5s;
	-webkit-transition: background-color .5s;
}
.smap-loaderbg-visible {
	background-color: rgba(30,30,30,.5) !important;
}
	
#smap-loader {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    z-index: 1301;
    text-align: center;
    background-color: #fff;
    border: 1px solid #aaa;
    transition: opacity 1000ms, filter 1000ms;
	-webkit-transition: opacity 1000ms, filter 1000ms;
}
#smap-loader span {
    position: relative;
    top: 40%;
    text-align: center;
    display: block;
}
#smap-loader img {
    position: relative;
    top: 35%;
    text-align: center;
}



.olControlAttribution {
    position: absolute;
	left: 4px;
	right: auto ! important;
	bottom: 2px ! important;
	height: auto;
	width: auto;
	padding: 0 2px;
	z-index: 752;
	font-size: 1.0em ! important;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	background-color: white;
	filter : alpha(opacity=50);
	opacity: 0.5;
}
.olControlAttribution a {
	font-weight: normal;
	text-decoration: none;
	color: black;
}

.smapCursorCrosshair {
    cursor: crosshair;
}
.smapCursorHand, img.smapCursorHand, div.smapCursorHand {
	cursor: hand;
}

/*.olFramedCloudPopupContent img {
	width: 100%;
}*/

.ui-dialog {
	box-shadow: rgba(20, 20, 20, 0.3) 5px 5px 20px 1px;
	
}

/* Util method: add minimize button for jquery dialogs */
.ui-dialog .ui-dialog-titlebar-minimize { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; margin-right: 30px;}
.ui-dialog .ui-dialog-titlebar-minimize span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus {
	padding: 0;
	cursor: pointer;
}

.error {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #f00;
	padding: 3px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	
}


/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.util-cursordiv {
	position: absolute;
	background: #000;
	color: #fff;
	padding: 10px;
	z-index: 3000;
	font-weight: bold;
	width: auto;
	height: auto;
	max-width: 220px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:  0px 0px 10px 3px #888;
	box-shadow:  0px 0px 10px 3px #888;
}
.util-cursordiv p {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
}.aldreboenden-popup {
	display: block;
	min-width: 200px;
	min-height: 100px;
	position: relative;
	top: -15px;
}

.aldreboenden-popup a, .aldreboenden-popup h3 {
	color: #00693C;
}

.aldreboenden-popup h3 {
	margin-bottom: 0.4em;
 	margin-top: 0.9em;	
}

.aldreboenden-popup a {
	text-decoration: none;
	display: block;
}

.aldreboenden-popup img {
	width: 100px;
	max-height: 200px;
	cursor: pointer;
}
.aldreboenden-popup label {
	cursor: pointer;
	font-size: 1.084em !important;
}
.aldreboenden-popup input {
    margin: 0 .5em 0 0!important;
}


.aldreboenden-popup-divleft {
	position: relative;
	margin-right: 10px;
	float: left;
}
.aldreboenden-popup-divright {
	position: relative;
}

.aldreboenden-popup-headerlink {
	margin-bottom: 10px;
	font-size: 1.1em;
}

/* -- Override OpenLayers' popup classes */

/*div.olMapViewport div.olPopup {
 	height: 167px !important;
 	width: 235px !important;
}*/

.olFramedCloudPopupContent {
  left: 11px !important;
}.baselayerDiv {
	font-size: 12px;
	height: auto;
	float: right;
	width: auto;
}

/* Properties for the baselayer switch buttons */
.baselayer-button {
	z-index: 1005;
	position: relative;
	float: right;
	display: block;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	width: auto;
	padding: 0;
	height: 20px;
	border: 1px solid #848484;
	background-color: #ffffff;
	color: #222;
	font-size: 1.1em;
	overflow: hidden;
	line-height: 18px;
	font-weight: normal;
	/*background: #cccccc url(img/ui-bg_highlight-hard_100_cccccc_1x100.png) 50% 50% repeat-x;*/
	
}

/* Baselayer buttons on click. This class is added by jQuery in the code on click. */
.baselayer-button-clicked {
	background: #fff;
	font-weight: bold;
	color: #000;
	filter: alpha(opacity=90);
	opacity: 0.90;
}

/*.baselayer-button:hover {
	font-weight: bold;
	border: 1px solid #363636;
}*/

/* CSS for the category button when drop-down is visible. */
.dropDownHover {
	border-bottom: 2px solid #fff !important;
}

.dropDownHover-notClicked {
	border-bottom: 2px solid #848484 !important;
}

.bLayerSwitcher-dropDown {
	top: -1px;
	font-size: 1.1em;
	font-weight: normal;
	position: relative;
	width: auto;
	height: auto;
	background-color: #fff; /*#363636;*/
	border: 1px solid #848484;
	padding: 7px;
	float: right;
	filter: alpha(opacity=90);
	opacity: 0.90;
	white-space : nowrap;
	
	box-shadow: 0px 0px 10px #AAA;
	-moz-box-shadow: 0px 0px 10px #AAA;
	-webkit-box-shadow: 0px 0px 10px #AAA;
}

.bLayerSwitcher-dropDown div {
	padding: none;
	cursor: pointer;
	color: #222;
	width: auto;
	line-height: 20px;
	
}

.bLayerSwitcher-dropDown div input {
}

.bLayerSwitcher-dropDown div span {
	margin-left: 5px;
}
#blixten-dialogdiv {
	overflow: hidden;
}

#blixten-dialogdiv fieldset {
	margin: 15px 0 0 0;
	border: 1px solid #BBB;
}

.blixten-dialoglabel {
    margin: 5px 0 0px 0;	
    display: block;
    font-style: italic;
}




#blixten-sliderdiv {
    margin: 20px 0 0 0;
}
#blixten-labelradius {
    margin: 0 0 5px 0;
    display: block;
    font-weight: bold;
}
#blixten-radiusentry {
    size: 3;
    display: inline;
}


#blixten-sliderdiv {
    
}
#blixten-sliderdiv input {
    display: inline-block;
}

#blixten-sliderdiv div {
	margin: 10px 0 10px 0px;
    display: block;
    width: 250px;
}

/*
#blixten-searchallcontainer {
    	
}
#blixten-searchallcontainer input {
    vertical-align: top;
}
#blixten-searchallcontainer label {
    vertical-align: center;
    cursor: pointer;	
}*/



#blixten-anim {
	display: block;
    position: absolute;
    z-index: 2000;
}



#blixten-clickcontainer label {
    font-style: italic;
}
#blixten-clickcontainer div {
    margin-top: 5px;
}
#blixten-clickcontainer div label {
    font-style: normal;
    vertical-align: center;
    cursor: pointer;
}
/* Layer tree print */
#blixten-btnlayertreeprint {
	float: left;
}

#toolbarlabel{
	position: absolute;
	font-family: arial;
	font-size: 14px;
	color: #fff;
	z-index: -1;
}
#blixtenpopup-dialogdiv {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.blixtenpopup-div {
	position: relative;
	height: 100%;
	float: left;
	overflow: visible;
	background-color: #fff;
	border: none;
    margin: 0;
    padding: 0;
}

#blixtenpopup-leftdiv {
	width: 40%;
    border-right: 1px solid #aaa;
}
#blixtenpopup-rightdiv {
    overflow: hidden;
	z-index: 2;
    width: 59%;
}
#blixtenpopup-rowsdiv-bottom {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* THE DIV SHOWING THE ATTRIBUTE INFO */
#blixtenpopup-attrdiv {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 346px;
    width: 300px;
    overflow: auto;
}

#blixtenpopup-attrdiv iframe {
	overflow-y: scroll;
}

/* ROWS */

.blixtenpopup-row-left {
	position: relative;
    width: 100%;
    line-height: 1em;
    padding: .45em;
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
}
.blixtenpopup-hover {
	background-color: #efefef !important;
	cursor: pointer;
}

.blixtenpopup-rowselected {
    background-color: #428bca !important;
    color: #fff;
    cursor: pointer;
}
.blixtenpopup-leftheaderdiv {
    position: relative;
    top: 0px;
    padding: 2px 5px;
    font-weight: normal;
    color: #fff;
}


.blixtenpopup-rowheader {
    border: 1px solid #aaa;
    border-width: 1px 0 1px 0;
    background-color: #ddd;
    color: #000;
    font-weight: bold;
    cursor: default;
    z-index: 1;
    height: 14px;
    line-height: 14px;
    margin: 1px 0;
}



#copylink-maindiv {
	cursor : default;
	height : auto;
	position : absolute;
	right : 0px;
	top : 0px;
	z-index : 1007;
	width : 440px;
}
.copylink-subdiv {
	height : auto;
	margin : 10px 0px 25px 5px;
	position : relative; 
	top : 10px;
	width : 100%;
}
.copylink-labels {
	width : auto;
}
.copylink-entries{
	margin-top : 2px;
	width : 95%;
}
#copylink-btn {
	cursor: pointer;
	cursor: hand;
	margin-bottom : 5px;
	position : absolute;
	right : 10px;
	top : 5px;
	font-size: 0.8em;
}
#copylink-shortendiv {
	bottom : 5px;
	float : left;
	font-size: 0.8em;
	height: auto;
	left : 5px;
	position : relative;
	width: auto;
}
#copylink-shortenbtn {
	cursor: pointer;
	cursor: hand;
}
#copylink-shortenmsg {
	display: inline-block;
	margin-left: 10px;
	position: relative;
}
.btncopylink {
	background: none !important;
	background-image: url("img/icon_lank_svart.png") !important;
}.btndraw {
	background: none !important;
	background-image: url("img/editTools/pencil.png") !important;
}
/* ------------ MARKER EDITING EXTENDED -----------------------------------------------*/

/* Settings for the panel - i.e. the div holding the editing buttons */
#draw-panel {
	position: relative;
	left: 0px;
	top: 20px;
	z-index: 2000;
	width: 210px;
	height: 25px;
	border: none;
	white-space: nowrap;
	overflow: hidden;
}
.draw-button {
	float: left;
	margin-right: 7px;
	cursor: pointer;
}

.olControlDrawFeaturePointItemActive {
	background-position: -77px -23px ;
}
.olControlDrawFeaturePointItemInactive {
	background-position: -77px 0px;
}

.olControlNavigationItemActive { 
	background-position: -103px -23px; 
}
.olControlNavigationItemInactive { 
	background-position: -103px -0px; 
}
.olControlDrawFeaturePathItemActive {
	background-position: -51px -23px ;
}
.olControlDrawFeaturePathItemInactive {
	background-position: -51px 0px;
}
.olControlDrawFeaturePolygonItemInactive { 
	background-position: -26px 0px; 
}
.olControlDrawFeaturePolygonItemActive { 
	background-position: -26px -23px;                                                             
}
.olControlSaveFeaturesItemInactive {
	background-position: 0px 1px; 
}
.olControlSaveFeaturesItemActive {
	background-position: 0px -23px; 
}

/* These buttons (modify, delete) should have a custom icon since there is no appropriate icon in the toolbar-png. */


.olControlModifyFeatureItemActive {
	background-image: url("../../../img/draw_modify_active.png") !important; 
	background-position: 0px 0px;
}
.olControlModifyFeatureItemInactive {
	background-image: url("../../../img/draw_modify.png") !important;
	background-position: 0px 0px; 
}
.olControlDragFeatureItemActive {
	background-image: url("../../../img/editing_tool_bar.png");
	background-position: -1px -23px;
}
.olControlDragFeatureItemInactive {
	background-image: url("../../../img/editing_tool_bar.png");
	background-position: -1px 0px
}
.olControlDeleteFeatureItemActive {
	background-image: url("../../../img/draw_eraser_active.png") !important; 
	background-position: 0px 0px;
}
.olControlDeleteFeatureItemInactive {
	background-image: url("../../../img/draw_eraser.png") !important; 
	background-position: 0px 0px;
}
/*------ Container div ------*/
.mxDiv {
	position: absolute;
	top: 2px;
	left: 0px;
	width: 175px;
	height: 410px;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Arial, Verdana, sans-serif;
	font-size : 13px;
}


/* All headers/labels in the mx window */
.mxLbl {
	font-family: "Trebuchet MS", "DejaVu Sans", “Bitstream Vera Sans”, "sans-serif";
	font-weight: 600;
	font-size: 1.1em;
	text-align: left;
	float: left;
}

/*------ Edit buttons div ------*/
#mxEditBtnsDiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 90px;
	z-index: 1;
}

#mxEditLbl {
	height: 32px;
}

/*------ Descripton editing ------*/
#mxDescrDiv {
	position: absolute;
	top: 170px;
	left: 0px;
	width: 200px;
	height: 75px;
}

#mxDescrLbl {

}

#mxDescrEntry {
	position: relative;
	left: 0px;
	top: 10px;
	width: 170px;
	height: 43px;
	font-family: arial;
}


textarea[disabled], textarea[readonly] { /*input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly],*/
	background-color: #F2F2F2;
	font-style: italic;
	border: 1px solid #BDBDBD;
}

/* In Safari and Chrome textareas can be resizeable. This codes prevent this. */
textarea{
	resize: none
}


/*------ Save/Erase/Email buttons ------ */

#mxSaveBtnsDiv {
	position: absolute;
	top: 285px;
	left: 0px;	
	width: 175px;
	
}

.mxBtn {
	-moz-user-select: none;
	width: 45px;
	height: 15px;
	text-align: center;
	padding-top: 2px;
	background-color: #ffffff;
	border: 1px solid #999999;
	float: right;
	cursor: pointer;
	cursor: hand;
}

.mxBtn:hover {
	background-color: #000000;
	color: #ffffff;	
	
}

#mxBtnErase {
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
}

#mxBtnEmail {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
}

#mxBtnOK {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* ------- email dialog ------- */
#emailDiv {	
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 12px;
	padding: 5px;
	margin: 10px 0 0 10px;
}
/* The button in the popup window which executes editing window. */

.btnCont {
	position: relative;
	right: 0px;
	bottom: 0px;
	width: 110px;
	height: 20px;
	cursor: pointer;
	cursor: hand;
	margin: 10px 0 0 0;
}

#btnEditObject {
	float: right;
}


.smapBtn {
	-moz-user-select: none;
	font-size: 10px;
	font-weight: 700;
	width: 50px;
	height: 15px;
	text-align: center;
	padding-top: 2px;
	background-color: #E6E6E6;
	border: 1px solid #848484;
	cursor: pointer;
	cursor: hand;
	background: #cccccc url(../../../img/ui-bg_highlight-hard_100_cccccc_1x100.png) 50% 50% repeat-x;
	
}
.smapBtn:hover {
	background-color: #000000;
	color: #ffffff;
	background: #cccccc url(../../../img/ui-bg_highlight-hard_100_cccccc_1x100_turn.png) 50% 50% repeat-x;
	
}


#draw-buttoncolorselect {
	position: relative;
	top: 40px;
	left: 0px;
	height: 22px;
	width: 80px;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

#draw-divcolorselect {
	position: relative;
	top: 40px;
	left: 0px;
	width: 89px;
	height: 88px;
	border: 1px solid #333;
	z-index: 2000;
	background-color : #fff
}
#draw-divcolorselect span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	border: 1px solid transparent;
	cursor: pointer;
}
#draw-divcolorselect span:hover {
	border: 1px solid #005;
}
#draw-buttonsymbolselect {
	position: absolute;
    left: 90px;
    top: 73px;
    height: 22px;
    width: 100px;
}
#draw-divsymbolseleced {
    height: 20px;
    left: 190px;
    position: absolute;
    top: 73px;
    width: 20px;
    background-size: cover;
}
#draw-divsymbolselect {
	position: absolute;
	top: 95px;
	left: 95px;
	width: 111px;
	height: 82px;
	border: 1px solid #333;
	z-index: 2000;
	background-color : #fff;
}
#draw-divsymbolselect span {
	width: 107px;
	height: 20px;
	display: block;
	float: left;
	text-align:center;
	border: 1px solid transparent;
	cursor: pointer;
}
#draw-divsymbolselect span:hover {
	border: 1px solid #005;
}
#draw-divsymbolselect img {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	border: 1px solid transparent;
	cursor: pointer;
}
#draw-divsymbolselect img:hover {
	border: 1px solid #005;
}
#mxButtonDiv{
	position: absolute;
	top: 260px;
	left: 0px;
	width: 170px;
	height: 30px;
}
#draw-opencopylink{
	width: 170px;
}
.incorrect_email {
  border: 1px solid red;
  background: pink;
  color: red;
}

#addresses {
	font-size: 1.0em;
	font-weight: bold;
	color: blue;
}

.icon-epost {
	background: none !important;
	background-image: url('img/email.png') !important;
}

/* The dialog */
#email-dialog {
	overflow: visible; /* avoid scrolling when validation messages appear */
	padding: 0;
}

#email-dialog fieldset {
	border: none;
}

#email-dialog fieldset label {
	display: block;
	margin-top: 6px;	
}

#email-dialog fieldset input, #email-dialog fieldset textarea {
	width: 240px;
	border: 1px solid #bbb;
	line-height: 1.5;
	font-size: 12px;
}

#email-dialog fieldset input:focus, #email-dialog fieldset textarea:focus {}

#email-dialog fieldset textarea {
	height: 120px;	
}#extract-click-dialog input {
	width: 200px;
	line-height: 1.5;
}

#extract-click-dialog td {
	min-width: 70px;
}#gfi-list {
 -moz-user-select: text;
 -khtml-user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 user-select: text;
}#introdialog-dialog {}

#introdialog-checkboxdiv {
	position: absolute;
	right: 120px;
	bottom: 20px;
}
#introdialog-checkboxdiv label {
	margin-left: 3px;
	cursor: pointer;
	white-space: nowrap;
}

.introdialog-italic {
	font-style: italic;	
}

.introdialog-bgcolor {
	
}
#sideDivLeft {
    background-color: #fff;
    border: 1px solid #aaa;
    border-width: 0 1px 0 0;
    padding: 10px;
}


/* The button in the header of the metadata window. */
.ltree-btn-miniprint {
	left: -100px;
	font-size: 12px;
}

#layertree-expandbutton {
    position: absolute;
    top: 230px;
    width: 11px;
    height: 22px;
    padding: 5px 8px;
    border: 1px solid #999;
    background-color: #fff;
    font-size: 1.7em;
    z-index: 1010;
    opacity: .8;
    cursor: pointer;
    cursor: hand;
}

.lt-expbutton-left {
	left: 0px;
	border-width: 1px 1px 1px 0px;
    border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
}
.lt-expbutton-right {
	right: 0px;
	border-width: 1px 0 1px 1px;
    border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	
}

.layertree-maindiv {
    position: absolute;
    left: 2px;
    top: 3px;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 0 !important;
}

#layertree-headerdiv {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0;
    font-weight: normal;
    font-size: 0.8em;
    color: #fff;
	min-height: 20px;
}
.headerdiv-left {
	text-align: right;
}
.headerdiv-right {
	text-align: left;
}

#layertree-headerdiv button {
	margin-right: 5px;
	margin-left: 5px;
}


#layertree {
    height: auto;
    border: none;
    margin-top: 10px;
    overflow-y: auto;
}

/*input.layertree {
    margin: 0 0 0 3px !important;
    vertical-align: top;
    width: 14px !important;
    height: 14px !important;
    display: inline-block;
}*/

.layertree-maindiv .dynatree-checkbox-faded {
    margin-left: 3px;
    background-position: 0px -32px;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    background-image: url("img/icons.gif");
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.layertree-maindiv ul.dynatree-container {
	font-size: 1em;
    border: none;
    margin: 0; /* Fixes positioning problem in IE7 */
    font-size: 1.1em;
    overflow-x: hidden; /* Do not create scrollbars in x */
}


.layertree-texticon {
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
    cursor: pointer;
}
.layertree-texticon-hover {
    background-color: #E0EEEE;
    cursor: pointer;
}

.layertree-notexticon {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: default;
}
.layertree-legendimg, .layertree-legendimg:hover {
	cursor: pointer;
}

.layertree-legend-hover {
	max-width:200px;
	min-width:50px;
	max-height:200px;
	min-height:50px;
	position: absolute;
	z-index: 2000;
	border: 1px solid #aaa;
}

.layertree-maindiv .dynatree-title {
    margin-left: 5px;
    color: #000;
    cursor: pointer;
}

/* The optional text box next to the main header */
.layertree-textbox {
	position: relative;	
}
.layertree-folder {
    font-style: italic;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.mainheader {
	font-weight: normal;
	font-size: 1.1em;
    font-style: normal;
    color: #555;
    text-transform: normal; /*uppercase;*/
    background-color: none;
}
.subheader {
	height: 30px;
}


.layetree-bold {
    font-weight: bold;	
}
.layertree-maindiv ul.dynatree-container ul {
    padding: 0 0 0 19px;	
}
.layertree-textwindow {
	overflow: hidden !important;
	padding: .2em;
}
.layertree-textwindow iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}

/*ul.dynatree-container ul li ul li {
    margin: 0 0 0 20px;
}*/

#layertree ul li ul li {
	border: none !important;	
}

/* The print dialog */
#layertree-dialogprintpreview {
	overflow-x: hidden;
	overflow-y: auto;
}
#layertree-printpreviewinfo {
	margin-top: 10px;
	font-style: italic;
}
#layertree-printfieldset {
	padding: 10px 10px;
	border: 1px solid #ccc;
	margin-top: 20px;
	max-width: 200px;
	overflow: hidden;
}
#layertree-printfieldset legend {
	color: #666;
}

.layertree-printrow {
	white-space: nowrap;
}
.layertree-printrow label {
	cursor: pointer;
	margin-left: 3px;
}

.legend-container {
	position: absolute;
	z-index: 1001;
	left: 0px;
	bottom: 0px;
	padding: 1em 3em 1em 1em;
	background-color: rgba(255,255,255,1);
	display: table;
	border: 1px solid rgba(0,0,0,1);
	border-width: 3px 3px 0 0;
	max-height: 65%;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
}

.legend-container .close {
	display: block;
	position: absolute;
	font-size: 3.5em;
	right: 0.2em;
	top: -0.2em;
	cursor: pointer;
	color: rgb(60,60,60);
}
.legend-container .close:hover {
	color: rgb(0,0,0);
}

.legend-container div {
	display: table-row;
}


.legend-container label {
	font-size: 1.2em;
	display: table-cell;
	vertical-align: middle;
}

.legend-container img {
	display: table-cell;
	margin-right: .2em;
	padding: 1.5em 0 1.5em 1em;
}


.loading-texttag {
}


#loading-background {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index: 1002;
	position: absolute;
	left: 0px;
	top: 0px;
}

#loading-spinner-div {
	position: absolute;
	z-index: 2000;
	text-align: center;
	width: 200px;
	top: 0px;
	left: 0px;

}
#loading-spinner-text {
	position: relative;
	width: 200px;
	top: 0px;
	font-size: 12px;
	font-weight: bold;
	z-index: 2000;
}.btnmeasure {
	background: none !important;
	background-image: url("img/icon_vinkelhake_turn.png") !important;
}
#measureDialogDiv {
	width: 190px;
	height: 140px;
	font-size: 12px;
	font-family: arial;
}

#measureDialogDiv p {
	font-weight: bold;
	font-size: 1.1em;	
}

#measure-helpDiv {
	position: absolute;
	left: 10px;
	top: 7px;
	width: 160px;
}

#measure-resultDiv {
	position: absolute;
	left: 10px;
	top: 99px;
	width: auto;
	min-width: 160px;
	height: auto;
	padding: 5px;
	border: 1px solid #bbb;

	min-height: 25px;
}

#measure-resultDiv div {
	width: 170px;
	line-height: 22px;
	font-size: 12px;
}

#measure-resultDiv div input {
	font-weight: normal;
	margin-left: 5px;
	width: 90px;
	float: right;
	font-size: 13px;
}

#measure-resultDiv div span {
	font-weight: bold;
	float: left;	
	font-size: 13px;	
}

#measure-resultDiv div {
	position: relative;
}


#measure-projHeader {
	position: absolute;
	left: 10px;
	top: 167px;
	margin: 0;
	padding: 0;
}

#measure-projectSelectTag {
	position: absolute;
	left: 10px;
	top: 185px;
	margin: 0;
	padding: 0;
}

#measure-cursorDiv {
	font-family: courier;
	position: absolute;
	padding: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #333;
	filter: alpha(opacity=80);
	opacity: 0.8;
	width: auto;
	height: auto;
	z-index: 3000;
}

#measure-cursorDiv span {
	margin-left: 5px;
}

#measure-usercoords {
	float: right; 
	position: relative;
	top: 62px;
}

#measure-errordiv {
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0 2px 2px 0;
	font-size: 1.5em;
	height: 120px;
	left: 35%;
	opacity: 0.8;
	position: absolute;
	top: 30%;
	width: 250px;
	z-index: 1201;
}

#measure-errortext {
	font-family: Verdana;
	font-size: 14px;
	font-weight: 800;
	left: 2px;
	margin: 5px;
	position: absolute;
	top: 2px;
}

#measure-errorbtnclose {
	background-color: #E6E6E6;
	border-color: #999999;
	border-style: solid;
	border-width: 0 2px 2px 0;
	bottom: 5px;
	cursor: pointer;
	font-family: Arial;
	font-weight: 800;
	opacity: 0.8;
	padding: 2px;
	position: absolute;
	right: 25px;
}


/* jquery button panel */
#measure-panel {
	position: absolute;
	top: 67px;
	white-space: nowrap;
}
.measure-button {
	height: auto;
	width: auto;
	float: left;
	margin-right: 7px;
	cursor: pointer;
}

/* Modifications of OpenLayers measure control classes */

.olControlPanelMeasure {
	position: absolute;
	top: 67px;
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
}

.olControlPanelMeasure div {
	position: absolute;
	left: 0px;
	top: 0px;
	float: left;
	padding: 0;
	margin: 0;
}


.olControlPanelMeasure .btnMeasurePointItemInactive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/point_off.png");
	margin: 0 6px 0 0;
	
}

.olControlPanelMeasure .btnMeasurePointItemActive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/point_on.png");
	margin: 0 6px 0 0;
}


.olControlPanelMeasure .btnMeasureLineItemInactive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/line_off.png");
	margin: 0 6px 0 0;
	
}

.olControlPanelMeasure .btnMeasureLineItemActive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/line_on.png");
	margin: 0 6px 0 0;
}


.olControlPanelMeasure .btnMeasurePolygonItemInactive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/polygon_off.png");
	margin: 0 6px 0 0;
}

.olControlPanelMeasure .btnMeasurePolygonItemActive {
	position: relative;
	width: 24px;
	height: 22px;
	background-image: url("img/editTools/polygon_on.png");
	margin: 0 6px 0 0;
}
div.olControlMousePosition {
  font-size: larger;
  font-weight: bold;
}
.olControlScale {
  font-size: larger;
  font-weight: bold;
}
#mousepos-projdiv {
	float: right;
	filter:alpha(opacity=50);
	opacity : 0.5;
}
#mousepos-coords {
	display : block;
}
.mousepos-maindiv {
	bottom : 5px;
	height : auto;
	margin-right : 10px;
	right : 15px;
	float : right;
}	
.mousepos-maindiv select {
    -moz-border-radius: 4px;
    vertical-align: middle;
}
.mousepos-maindiv option:hover {
    cursor: pointer;
}#opacity-maindiv {
	width : auto;
}
.opacity-rowsdiv {
	height: auto;
	padding-right: 10px;
}
.opacity-rows {
	height: 40px;
	top: 20px;
	position: relative;	
}
.opacity-mapname {
	float: left;
	font-size: 0.9em;
	margin-right: 5px;
}
.opacity-sliderdiv {
    float: right;
    width: 150px;
	z-index: 1201;
}
.opacity-values {
	float: right;
	font-size: 0.9em;
	margin-right: 15px;
	margin-left: 5px;
}
#opacity-btndiv {
	float : left;
	position : relative;
	top : 25px;
	margin-top: 10px;
}
#opacity-togglebtn {
	font-size: 0.8em;
	height: auto;
	margin-top: 10px;
	width: auto;
}
#opacity-prefdiv {
	clear : both;
	font-size: 0.8em;
	height: auto;
	margin-top : 10px;
	top: 10px;
	width: auto;
}#oltoggler-maindiv {
	background: #eee;
	opacity: 0.9;
	padding: 0;
	width: auto;
	height: auto;
	border: 1px solid #aaa;
	border-width: 1px;
	z-index: 1010;
	position: absolute;
	left: 10px;
	top: 10px;
}

#oltoggler-container {
	border-spacing: 0 1px;
	border-color: #aaa !important;
}

#oltoggler-container tr {
	max-width: 200px;
	cursor: pointer;
	background: #fff;
}
#oltoggler-container td {
	padding: 8px;
}
#oltoggler-container td img {
	width: 15px;
	height: 15px;
}


#oltoggler-container .ui-state-hover {
	background: #eee;
	color: #222;
}
#oltoggler-container .ui-state-active {	
	background: #EF7D0B; /*#EF7D0B;*/
	color: #fff;
}
/* The placement properties of the navigation panel (not zoombar) */
.pizza-icon-panbar {
	width: 51px;
	height: 51px;
	background-repeat: no-repeat;
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 1000;
}

.pizza-slider {
	height: 12px !important;
	transition: top 100ms;
	-webkit-transition: top 100ms;
}
.popup-text1 {
	font-size: 1em;	
}
.popup-text2 {
    font-size: 1em;
    font-weight: bold;
}
.popup-header1 {
	border-bottom: 1px solid #CCC;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 10px;
	padding-bottom: 3px;
	
}
.popup-header2 {
    font-size: 1.1em;
    font-weight: bold;
}
.popup-header3 {
	font-size: 1em;
	font-weight: bold;
	font-type: italic;	
}
.popup-img1, .popup-img1 img {
	max-width: 150px;
}
.olFramedCloudPopupContent img {
	width: 100%;
}
.olFramedCloudPopupContent a[href=""]{
	display: none;
}
/* Remove-button in popup */
.popup-rmBtn{
	
}

/* CSS for images embedded in an <a>-tag */
.popup-a-img
.popup-a-img:visited,
.popup-a-img:link,
.popup-a-img:hover,
.popup-a-img:active  {
    text-decoration: none;
    color: none;
}#blixten-btnlayertreeprint {
	float: right;	
}

#ui-id-2 {
	overflow: hidden;	
}

#printwindow-tabscontainer {
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    width: 97%;
}
#printwindow-tabscontainer a {
    padding: .4em 1em;
}

.print-tabcontent {
    padding: 0.7em !important;
    border: 1px solid #aaa !important;
    margin-left: 2px;
}
#printwindow-tabscontainer ul {
    background: none;
    border: none;
    border-radius: none;
}
/*#printwindow-tabscontainer li {
    background: #E8E8E8;
    color: #333;
    border: none;
    border-radius: none;
}*/

/* Components in the dialog */

/* COMMON */

#print-extentslider-header {
    position: absolute;
    top: 50px;
    left: 15px;
}
#print-extentslider {
    position: absolute;
    top: 75px;
    left: 15px;
    width: 180px;
}



/* PRINT TAB */
#print-description-header {
	margin-top: 70px;
}
#print-description-tag {
	margin-top: 3px;
}

#print-btnprint {
    margin-top: 20px;
}
	


/* EXPORT TAB */

#print-btnexport {
	margin-top: 70px;
	text-align: center;
}

#print-btndownload {
    position: absolute;
    top: 110px;
    left: 145px;
    padding: .7em;
    
}

#print-downloadtip {
    position: absolute;
    top: 160px;
    left: 80px;
    width: 120px;
    padding: 5px;
    background-color: #000;
    color: #fff;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#print-downloadtip-line {
    position: absolute;
    top: 141px;
    left: 160px;
    width: 0px;
    height: 17px;
    border: 1px solid #000;
    /*filter: alpha(opacity=70);
    opacity: 0.7;*/	
}



/************************************************************************************************************************/

#print-mapdiv {
	position: absolute;
	left: 1px;
	top: 1px;
	z-index: -10;
}

#print-div {
    display: none;
}

#print-dialog {
	overflow: hidden;	
}


@media print {
	 #smapDiv, #mapDiv, #toolbarDiv, #sideDivRight, #sideDivLeft, #smap-loader, #smap-loader-bg {
	   display: none;
	   z-index: 0;
	   border: none;
	 }
	 .ui-dialog, .ui-dialog-content, .ui-dialog-titlebar, .ui-widget, .ui-corner-all, .ui-widget-content
	  {
	   display: none;
	   z-index: 0;
	   border: none;
	 }
	 #print-div {
	   display: block;
	   margin: 0;
	   padding: 0;
	   z-index: 2000;
	   background-color: #fff;
	 }
}











 #scaleDiv {
	width : 232px;
	height : 35px;
	background-color : #ffffff;
	position : absolute;
	right : 0px;
	bottom : 0px;
	z-index : 999;
	filter : alpha(opacity=50);
	opacity : 0.5;
}#scaleSelectorDiv {
	position: absolute;
	width: 110px;
	height: 35px;
	background-color: #FFF;
	right: 232px;
	bottom: 0px;
	z-index: 1010;
	background: rgba(255,255,255,.5);
}

#scaleSelectOpt {
	position: absolute;
	right: 235px;
	bottom: 6px;
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 1010;
}

#scaleSelectOpt:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}#search-nopoitext {
	font-family: Verdana;
	left: 2px;
	margin: 5px;
	top: 2px;
}

/*Used for the drop-down menu; if that option is set to true in Search_conf.js */
#search-dropdownmenu {
	cursor: pointer;
	cursor: hand;
	position: relative;
	float: none !important;	
}
#search-optionsmenu {
	height: auto;
	display: block;
	position: absolute;
	white-space: nowrap;
	z-index: 1202;
}
#search-btnclose {
	cursor: pointer;
	cursor: hand;
	margin-bottom : 5px;
	position : absolute;
	right : 5px;
	top : 5px;
}
#search-innerdiv {
	padding-bottom: 25px;
	text-align: center;
}
.search-popup1 {
	font-size: 1em;
	font-weight: bold;
	margin-top: 5px;	
}
.noTitleDialog .ui-dialog-titlebar {
	display:none;
}
.search-popup {
	font-size: 1em;
	font-family: Helvetica, arial, sans-serif;
}
#searchBox {
	transition: width 500ms;
	-moz-transition: width 500ms; /* Firefox 4 */
	-webkit-transition: width 500ms; /* Safari and Chrome */
	-o-transition: width 500ms; /* Opera */
	line-height: 27px;
	height: 27px;
	top: 0px;
}
#searchBox:focus {
	width: 250px !important;
}.ui-widget-header button {
	outline: 0;
}

#select-selectdialog {
	font-family : "Trebuchet MS", "sans-serif";
	-moz-user-select: none;
	float: left;
	padding: 4px 0 4px 0;
}
#select-dialogparent {
	animation: shake 500ms infinite;
	-webkit-animation: shake 500ms infinite;
}
#select-dialogparent:hover {
	animation: none !important;
	-webkit-animation: none !important;
}

#select-selectdialog table {
	border-spacing: 0;
	min-width: 200px;
}
#select-selectdialog table tr {
	/*border-bottom: 1px solid #ccc;*/
	
	padding: 10px;
	cursor: pointer;
	white-space: nowrap;
	line-height: 2em;
}

#select-selectdialog table tr:hover {
	border: 1px solid #aaa;
	background: #eee;
}

#select-selectdialog table tr:active {
	background: #3E5F9C;
	color: #fff;
}

#select-selectdialog table td {
	padding: 0 5px;
}

.selectmany-td-first {
	/* Limit the size of the td holding the legend image */
	text-align: left;
	width: 20px;
	padding-left: 15px !important;
}

.selectdialog-rowtag img {
	/*position: relative;*/
	max-width: 20px;
	max-height: 20px;
	display: block;
}


@keyframes shake
{
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-webkit-transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		-webkit-transform: rotate(-2deg);
	}
}

@-webkit-keyframes shake
{
	0% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		-webkit-transform: rotate(2deg);
	}
	50% {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	75% {
		transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		-webkit-transform: rotate(-2deg);
	}
}.btnselectbox {
	background: none !important;
	background-image: url("img/selectTools/selectBox.png") !important;
}
.btnselectclear {
	background: none !important;
	background-image: url("img/selectTools/selectClear.png") !important;
} #SPrintTabs {
	font-size: 12px;	
}

#SPrintTabs label {
	cursor: pointer;
}#toolbar-maindiv {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	font-size: 1.00em;
	line-height: 38px;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	border-left: none;
	border-right: none;
	z-index: 1;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .4);
}

.toolbar-entry {
	position: relative;
	font-size: 1.3em;
	top: 4px;
	padding: 2px 4px;
	width: 100px;
	display: inline;
	float: left; /* always float left solves IE problems */
}
.toolbar-logo {
	position: relative;
	font-size: 1.3em;
	padding: 4px 4px 4px 12px;
	display: inline;
	float: left; /* always float left solves IE problems */
}
.toolbar-title {
	position: absolute;
	font-size: 14px;
	padding: 0px 0px 0px 12px;
	line-height: 36px;
	display: inline;
	float: left; /* always float left solves IE problems */
}

/* All select tags will get these values */
#toolbar-maindiv select {
	float: right;
	margin-top: 9px;	
}

.ui-widget-header .ui-button {
	overflow: visible !important;
}.toolsmenu-dropdown {
	border: 1px solid #848484;
	cursor: pointer;
	cursor: hand;
	height: auto;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
	border-top: 1px solid #848484;
	padding-top: 10px;
	background: #fff ;
	-webkit-border-radius: 0 2px 2px 2px !important;
	-moz-border-radius: 0 2px 2px 2px !important;
	border-radius: 0 2px 2px 2px !important;
	-webkit-box-shadow: 1px 1px 15px #999;
	box-shadow: 1px 1px 15px #999;
}

.toolsmenu-rows div {
	border-top: none !important;
}

.toolsmenu-rows label {
	padding: 7px;	
}

.toolsmenu-rows .ui-button-text {
	text-align: left;	
}

.toolsmenu-rows .ui-state-default {
	width : auto;
	color: #666 ;
	border-width: 0 !important;
	border-bottom: 1px solid #eee ;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
.toolsmenu-mainbutton {
	z-index: 2;
}
.toolsmenu-mainbutton.ui-state-active {
	background: #fff ;
	color: #666 ;
	border-bottom: none !important;
	-webkit-border-radius: 2px 2px 0 0 !important;
	-moz-border-radius: 2px 2px 0 0 !important;
	border-radius: 2px 2px 0 0 !important;
	border-color: #bbb ;
	
}
/*.ui-state-active .ui-icon {
	filter: saturate(10);
	-webkit-filter: saturate(10);
}*/	


/* Override CSS for toolbuttons by using classes in your custom CSS:
.toolsmenu-rows .ui-state-default
.toolsmenu-rows .ui-state-hover
.toolsmenu-rows .ui-state-active
*/
body {
	font-family: "Trebuchet MS",sans-serif !important;	
}


a {
	outline: none;	
}

.toolsmenu-dropdown {
	background: #fff !important;
}

.baselayer-button.ui-state-default { 
	transition: background 400ms, color 400ms;
	-webkit-transition: background 400ms, color 400ms;
}

.toolsmenu-rows .ui-state-default {
	background: #fff !important;
}
.toolsmenu-rows .ui-state-hover {
	background: #F7F7F7 !important;
}
.toolsmenu-rows .ui-state-active {
	background: #3E5F9C !important;
	color: #fff !important;
}

.toolsmenu-mainbutton.ui-state-active {
	background: #fff !important;
	border-color: #cdcdcd !important;
}

.baselayer-button-clicked {
	background: #fff !important;	
}


