.baselayerDiv {
	font-size: 12px;
	height: auto;
	width: auto;
}

/* Properties for the baselayer switch buttons */
.baselayer-button {
	z-index: 1005;
	position: relative;
	float: right;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	width: auto;
	padding: 0;
	padding: .3em .6em;
	margin: 0;
	height: auto;
	border: none;
	border: 1px solid #848484;
	background-color: #ffffff;
	background-color: rgba(255,255,255,1);
	color: #222;
	font-size: 1.1em;
	font-weight: normal;
}

/* Baselayer buttons on click. This class is added by jQuery in the code on click. */
.baselayer-button-clicked {
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
	font-weight: bold;
	color: #000;
}

/*.baselayer-button:hover {
	font-weight: bold;
	border: 1px solid #363636;
}*/

/* CSS for the category button when drop-down is visible. */
.dropDownHover {
	border-bottom: 2px solid #fff !important;
}

.dropDownHover-notClicked {
	border-bottom: 2px solid #848484 !important;
}

.bLayerSwitcher-dropDown {
	top: -1px;
	font-size: 1.1em;
	font-weight: normal;
	position: relative;
	width: auto;
	height: auto;
	background-color: #fff; /*#363636;*/
	background-color: rgba(255,255,255,.9);

	border: 1px solid #848484;
	padding: 7px;
	float: right;
	white-space : nowrap;
	
	box-shadow: 0px 0px 10px #AAA;
	-moz-box-shadow: 0px 0px 10px #AAA;
	-webkit-box-shadow: 0px 0px 10px #AAA;
}

.bLayerSwitcher-dropDown div {
	padding: none;
	cursor: pointer;
	color: #222;
	width: auto;
	line-height: 20px;
	
}

.bLayerSwitcher-dropDown div input {
}

.bLayerSwitcher-dropDown div span {
	margin-left: 5px;
}
