

.overlaySwitcher {
	position: relative;	
}

.overlaySwitcher .overlay-legend-icon {
	position: absolute;
	top: 4px;
	right: 30px;
	display: inline;
	float: right;
}

/*---- OVERLAY -> CHECKBOXBAR -------*/

/* The "window"/div container for the overlay checkbox divs */
.overlay-checkbox-bar {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 270px;
	height: auto;
	border: 1px solid #848484;
	border-top: none;
	background-color: #fff;/*#363636; /*#cccccc;*/
	padding: 8px 0 3px 2px;
	cursor: pointer;
	cursor: hand;
	z-index: 1008;
	margin-top: 1px;
	color: #000;
/*	filter: alpha(opacity=75);
	opacity: 0.75;*/
}

/*---- OVERLAY -> CHECKBOXBAR -> CHECKBOXDIV -------*/

/* The container div of the checkbox (overlay checkbox) and its label (overlay name).
   The CSS makes the text align to the left. */
.overlay-checkbox-div {
	position: relative;
	margin-bottom: 1px; /* "row spacing" - distance between overlays' labels */
	margin-top: 1px;
	height: 20px;
	font-weight: normal;
}

#overlay-btnUnselectAll {
	position: relative;
	margin-top: 8px;
	margin-left: 4px;
	font-size: 1.1em;
	height: 20px;
	vertical-align: middle;
	text-align: left;
	display: block;
	overflow: hidden;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

.overlaySwitcher-image {
	position: absolute;
	top: 2px;
	right: 8px;
	max-width: 20px;
	max-height: 20px;
	display: inline;
	float: right;
}

.overlay-checkbox-box {
	position: relative;
	left: 0px;
	top: 2px;
}

.overlay-checkbox-text {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 1.0em;
}	

/* the overlay-bar toggle button specific design. */
.maximizer {
	text-align: center;
	position: relative;
	font-size: 1.0em;
	font-weight: normal;
	cursor: pointer;
	cursor: hand;
	width: auto;
	height: 20px;
	float: left;
	overflow: hidden;
	line-height: 18px;
	z-index: 1002;
	padding: 0 13px 0 10px;
	border: 1px solid #848484;
	/*background: url("img/ui-bg_highlight-hard_100_cccccc_1x100.png") repeat-x scroll 50% 50%;*/
	color: #333;
}

.maximizer-dropDown {
	background: none;
	background-color: #fff;/*#363636;*/
	border-bottom: none;
/*	filter: alpha(opacity=75);
	opacity: 0.75;*/
	color: #000;
	font-weight: bold;
}

.overlay-legend {
	position: absolute;
	top: 0px;
	right: 5px;
}

.overlay-legend input {
	position: relative;
	left: 0px;
	top: 2px;	
}

.overlay-legend a {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 1.0em;
}