html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Trebuchet MS','DejaVu Sans','Bitstream Vera Sans',sans-serif;
	background: #fff;
	overflow: hidden;
	height: 100%;
}

div, span, p, button, label {
	-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.olFramedCloudPopupContent, .olFramedCloudPopupContent > * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;  
}

#canvasLoader {
	position: absolute;
	display: block;
	top: 40%;
	left: 48%;
	z-index: 2000;
	filter : alpha(opacity=50);
	opacity: .5;
}

/* For the loader shown during initialization of the app */
.smap-init-loading {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.8);
    opacity: 0.8;
    z-index: 3000;
}
.invisible {
    opacity: 0 !important;
	filter : alpha(opacity=0) !important;
	transition: opacity 1000ms, filter 1000ms;
	-webkit-transition: opacity 1000ms, filter 1000ms;
}

#smap-initload-cont {
	position: relative;
	left: 40%;
	top: 40%;
	z-index: 2;
	font-size: 2em;
}
.smap-init-loading img {}
.smap-init-loading label {
	color: #fff;
	position: relative;
	top: -.9em;
	margin-left: .3em;
}

/* All tags with this class will be unselectable */
*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#smapDiv {
	position: relative;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden; /* scroll during dev */
	border-top: 1px solid #ccc;
	
}

#smap-map-container {
	position: relative;
	width: 100%;
	height: calc(100% - 3.7em);

}

#mapDiv {
	position: relative;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	float: left;
}

#sideDivLeft {
	position: relative;
	background-color: #fff;
	z-index: 0;
	left: 0px;
	width: 30%;
	height: 100%;
	float: left;
	border: none;
}
#sideDivRight {
	position: relative;
	background-color: #fff;
	z-index: 0;
	left: 0px;
	height: 100%;
	float: right;
	border: none;
}

#toolbarDiv {
	width: 100%;
	background-color: #ccc;
	border: none;
}
/* The loader icon showing when something is loading. */

#smap-loader-bg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    background-color: rgba(30,30,30,0);
    z-index: 1999;
    transition: background-color .5s;
	-webkit-transition: background-color .5s;
}
.smap-loaderbg-visible {
	background-color: rgba(30,30,30,.5) !important;
}
	
#smap-loader {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    z-index: 1301;
    text-align: center;
    background-color: #fff;
    border: 1px solid #aaa;
    transition: opacity 1000ms, filter 1000ms;
	-webkit-transition: opacity 1000ms, filter 1000ms;
}
#smap-loader span {
    position: relative;
    top: 40%;
    text-align: center;
    display: block;
}
#smap-loader img {
    position: relative;
    top: 35%;
    text-align: center;
}



.olControlAttribution {
    position: absolute;
	left: 4px;
	right: auto ! important;
	bottom: 2px ! important;
	height: auto;
	width: auto;
	padding: 0 2px;
	z-index: 752;
	font-size: 1.0em ! important;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	background-color: white;
	filter : alpha(opacity=50);
	opacity: 0.5;
}
.olControlAttribution a {
	font-weight: normal;
	text-decoration: none;
	color: black;
}

.smapCursorCrosshair {
    cursor: crosshair;
}
.smapCursorHand, img.smapCursorHand, div.smapCursorHand {
	cursor: hand;
}

.ui-dialog {
	box-shadow: rgba(20, 20, 20, 0.3) 5px 5px 20px 1px;
	z-index: 2000 !important; /* Go on top of malmos header */
	
}

/* Util method: add minimize button for jquery dialogs */
.ui-dialog .ui-dialog-titlebar-minimize { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; margin-right: 30px;}
.ui-dialog .ui-dialog-titlebar-minimize span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-minimize:hover, .ui-dialog .ui-dialog-titlebar-minimize:focus {
	padding: 0;
	cursor: pointer;
}

.error {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #f00;
	padding: 3px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	
}


/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.util-cursordiv {
	position: absolute;
	background: #000;
	color: #fff;
	padding: 10px;
	z-index: 3000;
	font-weight: bold;
	width: auto;
	height: auto;
	max-width: 220px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:  0px 0px 10px 3px #888;
	box-shadow:  0px 0px 10px 3px #888;
}
.util-cursordiv p {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-weight: bold;
}

/* Hack for fixing issue where layer switcher turns white after 
some checking/unchecking of boxes */
@media screen and (-webkit-min-device-pixel-ratio:0) {
       img.olTileImage {
           -webkit-transform: inherit !important;
           -moz-transform: inherit !important;
           -o-transform: inherit !important;
           -ms-transform: inherit !important;
           transform: inherit !important;
           -webkit-backface-visibility: inherit !important;
           -moz-backface-visibility: inherit !important;
           -ms-backface-visibility: inherit !important;
           backface-visibility: inherit !important;
           -webkit-perspective: inherit !important;
           -moz-perspective: inherit !important;
           -ms-perspective: inherit !important;
           perspective: inherit !important;
       }

       .olTileImage {
           -webkit-transition: opacity 0s linear !important;
           -moz-transition: opacity 0s linear;
           -o-transition: opacity 0s linear;
           transition: opacity 0s linear !important;
       }
} 