

/* Settings for the panel - i.e. the div holding the editing buttons */
.wfsediting-panel {
	position: absolute;
	left: 20px;
	top: 85px;
	z-index: 2000;
	width: 25px;
	height: 48px;
	border: none;
	float: left;
}

/* CSS for the buttons inside the panel */
.wfsediting-panel div {
	position: relative;
	float: left;
	cursor: pointer;
	/*background-image: url("http://localhost/sMap/modules/Module/EPOI/img/editToolsIcons/point_off.png");*/
	/*background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");*/
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 5px 5px l0px;
}

.wfsediting-panel div#crawls-editbtn {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 0.9em;
}

.crawls-lbl-draw {
	position: absolute;
	left: 55px;
	top: 14px;
	font-size: 0.9em;
}
.crawls-lbl-draw label {
	display: block;
	margin-bottom: 14px;
}

#crawls-edit-btnpanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 0;
    margin: 0;
}

#crawls-edit-btnpanel button {
    float: right;
    margin: 2px 5px 2px 5px;
}
#crawls-edit-btnpanel label {
    float: left;
    margin: 2px 0 2px 5px;
}
#crawls-iconeraser {
    position: absolute;
    z-index: 1000;	
}

/*
.olControlDrawFeaturePointItemActive {
	background-position: -77px -23px ;
	
}
.olControlDrawFeaturePointItemInactive {
	background-position: -77px 0px;
	
}
*/

/*.olControlNavigationItemActive { 
	background-position: -103px -23px; 
}
.olControlNavigationItemInactive { 
	background-position: -103px -0px; 
}
.olControlDrawFeaturePathItemActive {
	background-position: -51px -23px ;
}
.olControlDrawFeaturePathItemInactive {
	background-position: -51px 0px;
}
.olControlDrawFeaturePolygonItemInactive { 
	background-position: -26px 0px; 
}
.olControlDrawFeaturePolygonItemActive { 
	background-position: -26px -23px;                                                             
}
.olControlSaveFeaturesItemInactive {
	background-position: 0px 1px; 
}
.olControlSaveFeaturesItemActive {
	background-position: 0px -23px; 
}

*/

/* These buttons (modify, delete) should have a custom icon since there is no appropriate icon in the toolbar-png. */


.olControlModifyFeatureItemActive {
	background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");
	background-position: -1px -23px;
}
.olControlModifyFeatureItemInactive {
	background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");
	background-position: -1px 0px
}
.olControlDeleteFeatureItemActive {
	background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");
	background-position: 0px -23px;
}
.olControlDeleteFeatureItemInactive {
	background-image: url("../../../lib/OpenLayers-2.10/theme/default/img/editing_tool_bar.png");
	background-position: 0px 1px;
}

.crawlsedit-btnedit {
	background-image: url("img/icon_lank.png");
}


