
.smap-clayers-container {
	position: absolute;
	top: 5px;
	right: 300px;
	z-index: 1007;
	font-size: 1.1em;
}

.smap-clayers-header {
	padding: .3em .6em;
	background-color: #dfdfdf;
	color: #000;
	cursor: pointer;
	border: 1px solid #cdcdcd;
	display: inline-block;
}
.smap-clayers-header.hover {
	background-color: #fff;
	border-bottom-color: #fff;
}

#smap-clayers-dropdowncont {
	position: relative;
}

.smap-clayers-dropdown {
	position: absolute;
	background-color: #fff;
	padding: 0.5em;
	display: none;
	border: 1px solid #cdcdcd;
	/*border-width: 0 1px 1px 1px;*/
	margin-top: -1px;
	z-index: -1;
	padding-top: 1em;
}
.smap-clayers-dropdown.visible {
	display: block;
}

.smap-clayers-option {
	line-height: 1.7em;
	white-space: nowrap;
}

.smap-clayers-option span {
	cursor: pointer;
	margin-left: 4px;
}


/*.smap-clayers-header.ui-state-active {

}*/