#blixtenpopup-dialogdiv {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.blixtenpopup-div {
	position: relative;
	height: 100%;
	float: left;
	overflow: visible;
	background-color: #fff;
	border: none;
    margin: 0;
    padding: 0;
}

#blixtenpopup-leftdiv {
	width: 40%;
    border-right: 1px solid #aaa;
}
#blixtenpopup-rightdiv {
    overflow: hidden;
	z-index: 2;
    width: 59%;
}
#blixtenpopup-rowsdiv-bottom {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* THE DIV SHOWING THE ATTRIBUTE INFO */
#blixtenpopup-attrdiv {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 346px;
    width: 300px;
    overflow: auto;
}

#blixtenpopup-attrdiv iframe {
	overflow-y: scroll;
}

/* ROWS */

.blixtenpopup-row-left {
	position: relative;
    width: 100%;
    line-height: 1em;
    padding: .45em;
    border: 1px solid #aaa;
    border-width: 0 0 1px 0;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
}
.blixtenpopup-hover {
	background-color: #efefef !important;
	cursor: pointer;
}

.blixtenpopup-rowselected {
    background-color: #428bca !important;
    color: #fff;
    cursor: pointer;
}
.blixtenpopup-leftheaderdiv {
    position: relative;
    top: 0px;
    padding: 2px 5px;
    font-weight: normal;
    color: #fff;
}


.blixtenpopup-rowheader {
    border: 1px solid #aaa;
    border-width: 1px 0 1px 0;
    background-color: #ddd;
    color: #000;
    font-weight: bold;
    cursor: default;
    z-index: 1;
    height: 14px;
    line-height: 14px;
    margin: 1px 0;
}



