#sideDivLeft {
    background-color: #fff;
    border: 1px solid #aaa;
    border-width: 0 1px 0 0;
    padding: 10px;
}


/* The button in the header of the metadata window. */
.ltree-btn-miniprint {
	left: -100px;
	font-size: 12px;
}

#layertree-expandbutton {
    position: absolute;
    top: 230px;
    width: 11px;
    height: 22px;
    padding: 5px 8px;
    border: 1px solid #999;
    background-color: #fff;
    font-size: 1.7em;
    z-index: 1010;
    opacity: .8;
    cursor: pointer;
    cursor: hand;
}

.lt-expbutton-left {
	left: 0px;
	border-width: 1px 1px 1px 0px;
    border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
}
.lt-expbutton-right {
	right: 0px;
	border-width: 1px 0 1px 1px;
    border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	
}

.layertree-maindiv {
    position: absolute;
    left: 2px;
    top: 3px;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 0 !important;
}

#layertree-headerdiv {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0;
    font-weight: normal;
    font-size: 0.8em;
    color: #fff;
	min-height: 20px;
}
.headerdiv-left {
	text-align: right;
}
.headerdiv-right {
	text-align: left;
}

#layertree-headerdiv button {
	margin-right: 5px;
	margin-left: 5px;
}


#layertree {
    height: auto;
    border: none;
    margin-top: 10px;
    overflow-y: auto;
}

/*input.layertree {
    margin: 0 0 0 3px !important;
    vertical-align: top;
    width: 14px !important;
    height: 14px !important;
    display: inline-block;
}*/

.layertree-maindiv .dynatree-checkbox-faded {
    margin-left: 3px;
    background-position: 0px -32px;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top;
    background-image: url("img/icons.gif");
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.layertree-maindiv ul.dynatree-container {
	font-size: 1em;
    border: none;
    margin: 0; /* Fixes positioning problem in IE7 */
    font-size: 1.1em;
    overflow-x: hidden; /* Do not create scrollbars in x */
}


.layertree-texticon {
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
    cursor: pointer;
}
.layertree-texticon-hover {
    background-color: #E0EEEE;
    cursor: pointer;
}

.layertree-notexticon {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: default;
}
.layertree-legendimg, .layertree-legendimg:hover {
	cursor: pointer;
}

.layertree-legend-hover {
	width: 200px;
	height: 70px;
	position: absolute;
	z-index: 2000;
	border: 1px solid #aaa;
}

.layertree-maindiv .dynatree-title {
    margin-left: 5px;
    color: #000;
    cursor: pointer;
}

/* The optional text box next to the main header */
.layertree-textbox {
	position: relative;	
}
.layertree-folder {
    font-style: italic;
    color: #222;
    font-weight: normal;
    cursor: pointer;
}
.mainheader {
	font-weight: normal;
	font-size: 1.1em;
    font-style: normal;
    color: #555;
    text-transform: normal; /*uppercase;*/
    background-color: none;
}
.subheader {
	height: 30px;
}


.layetree-bold {
    font-weight: bold;	
}
.layertree-maindiv ul.dynatree-container ul {
    padding: 0 0 0 19px;	
}
.layertree-textwindow {
	overflow: hidden !important;
	padding: .2em;
}
.layertree-textwindow iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}

/*ul.dynatree-container ul li ul li {
    margin: 0 0 0 20px;
}*/

#layertree ul li ul li {
	border: none !important;	
}

/* The print dialog */
#layertree-dialogprintpreview {
	overflow-x: hidden;
	overflow-y: auto;
}
#layertree-printpreviewinfo {
	margin-top: 10px;
	font-style: italic;
}
#layertree-printfieldset {
	padding: 10px 10px;
	border: 1px solid #ccc;
	margin-top: 20px;
	max-width: 200px;
	overflow: hidden;
}
#layertree-printfieldset legend {
	color: #666;
}

.layertree-printrow {
	white-space: nowrap;
}
.layertree-printrow label {
	cursor: pointer;
	margin-left: 3px;
}

